<!DOCTYPE html>
<html>
<body>
    <div class="main-menu">
        <a asp-action="Index">Просмотр архивов погодных условий в городе Москве</a>
        <a asp-action="Load">Загрузка архивов погодных условий в городе Москве</a>
    </div>
</body>
</html>